@import './reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$ipadview: 780px;
$phoneview: 500px;
$subcolor: #707070;

@mixin ipadview {
  @media (max-width: #{$ipadview}) {
    @content;
  }
}

@mixin phoneview {
  @media (max-width: #{$phoneview}) {
    @content;
  }
}

body {
  font-family: 'Montserrat';
  background-image: url('../images/bg-img.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#container {
  max-width: 90%;
  margin: 0 auto;

  @include ipadview {
    margin: 0 5rem;
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
 
  

  a {
    text-decoration: none;
    color: #000;

    @include ipadview {
      font-size: 0.8em !important;
    }

    @include phoneview {
      font-size: 0.6em !important;
    }
  }

  .logo {
    font-weight: bold;
    font-size: 1.7em;

    @include ipadview {
      font-size: 1.3em !important;
    }
    @include phoneview {
      font-size: 1em !important;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-align: right;
    a {
      color: $subcolor;
      margin-right: 0.5em;
      transition: all 0.2s ease-in-out;
      &:last-of-type {
        margin: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .aboutme {
    h1 {
      font-size: 3rem;
      font-weight: bold;

      @include ipadview {
        font-size: 1.5em !important;
        
      }

      @include phoneview{
        font-size: .9em !important;
      }
    }

    p {
      padding: 5rem 20rem;
      line-height: 1.5;
      color: $subcolor;
      text-align: justify;
      @include ipadview {
        padding: 3rem 6rem !important;
        font-size: .8em;
       
      }
      @include phoneview {
        padding: 2rem 2rem !important;
        font-size: .5em !important;
      }
    }
  }
  .skills {
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 5rem;
      @include ipadview {
        font-size: 1.5em !important;
      }
      @include phoneview{
        font-size: .9em !important;
        margin-bottom: 2rem !important;
      }
    }
    img {
      width: 80%;
      
      
    }
  }

  .workexperience {
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin: 5rem;
      @include ipadview {
        font-size: 1.5em !important;
      }
      @include phoneview{
        font-size: .9em !important;
        margin: 2rem 0;
      }
    }
    .rcbc {
      line-height: 1.5;
      color: $subcolor;
      img {
        width: 15%;
        margin-bottom: 1em;
      }
      h6 {
        font-size: 1em;
        font-weight: bold;

        @include phoneview {
          font-size: .6em !important;
        }
      }
      p {
        @include phoneview {
          font-size: .5em !important;
        }
      }
    }
    .duties {
      padding: 1rem 18rem;
      line-height: 1.5;
      color: $subcolor;
      margin: 2.5rem;
      text-align: justify;

      @include ipadview{
        padding: 1em 2em !important;
        font-size: .8em;
      }
      @include phoneview {
        padding: .9em .2em !important;
        font-size: .5em !important;
      }
    }
  }

  .education {
    line-height: 1.5;
    margin-bottom: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin: 5rem;
      @include ipadview {
        font-size: 1.5em !important;
      }
      @include phoneview{
        font-size: .9em !important;
        margin: 2rem !important;
      }
    }
    img {
      width: 7%;
      margin-bottom: 1em;
    }
    h5 {
      font-size: 10%;
      font-weight: bold;
      color: $subcolor;
      @include phoneview {
        font-size: .6em !important;
      }
    }
    p {
      color: $subcolor;
      @include phoneview {
        font-size: .5em !important;
      }
    }
  }
}
