@import './reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$ipadview: 1000px;
$phoneview: 800px;
$subcolor: #707070;

@mixin ipadview {
  @media (max-width: #{$ipadview}) {
    @content;
  }
}

@mixin phoneview {
  @media (max-width: #{$phoneview}) {
    @content;
  }
}

body {
  font-family: 'Montserrat';
  background-image: url('/images/background-img.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 30rem;
  background-attachment: fixed;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5rem;
;

  a {
    text-decoration: none;
    color: #000;
  }

  .logo {
    font-weight: bold;
    font-size: 1.7em;
  }

  .navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-align: right;
    a {
      color: $subcolor;
      margin-right: 0.5em;
      transition: all 0.2s ease-in-out;
      &:last-of-type {
        margin: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
 

  h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
    
  }
  p {
    font-size: 1.25rem;
    color: #707070;
  }

  .myandbutton {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 1.5em;
 
    .hireme {
      margin-top: 1.5em;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      background-color: white;
      color: #2197ff;
      border: 2px solid #2197ff;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .socialmediaicons {
position: absolute;
left: 5rem;

li{
  margin-bottom: 2rem;
}
  }
}
