@import url('https://fonts.googleapis.com/css?family=Montserrat');

$ipadview: 1000px;
$phoneview: 800px;

@mixin ipadview {
  @media (max-width: #{$ipadview}) {
    @content;
  }
}

@mixin phoneview {
  @media (max-width: #{$phoneview}) {
    @content;
  }
}

body,
html {
  font-family: 'Montserrat';
  background-image: url('../images/background-img.png');
  background-repeat: no-repeat;
  background-position-y: 630px;
}
body {
  .navbar {
    margin: 80px 130px 100px 130px;

    .logo {
      font-size: 30px;
      @include ipadview {
        font-size: 18px;
      }
      @include phoneview {
        font-size: 16px;
        margin-left: -80px;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
    .nav-item {
      float: right;
      padding-right: 14px;
      color: #707070;

      @include ipadview {
        font-size: 15px;
      }
      @include phoneview {
        display: inline-block;
        position: relative;
        top: 60px;
        right: 30px;
      }
    }
  }
  section {
    h1 {
      text-align: center;
      font-size: 60px;
      margin-bottom: 2px;
      @include ipadview {
        font-size: 40px;
      }
      @include phoneview {
        font-size: 20px;
      }
    }
    p {
      text-align: center;
      font-size: 20px;
      color: #707070;
      @include ipadview {
        font-size: 15px;
      }
      @include phoneview {
        font-size: 10px;
      }
    }

    .socialmediaicons li {
      position: relative;
      display: block;
      list-style-type: none;
      margin-left: 6rem;
      padding-top: 2rem;
    }
  }
}

header {
  .myandbutton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mypic {
    position: relative;
    margin: auto auto;
    bottom: 220px;
    @include ipadview {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include phoneview {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .hireme {
    position: absolute;
    bottom: 100px;
    margin: 180px auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: #2197ff;
    border: 2px solid #2197ff;
    border-radius: 10px;
    @include ipadview {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 160px;
    }
    @include phoneview {
      font-size: 12px;
      bottom: 340px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
