<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/main.css" />
    <title>JPong</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="" class="logo"> <strong>JPong</strong></a>
      <a href="" class="nav-item">Contact</a>
      <a href="/views/aboutme.html" class="nav-item">About Me</a>
      <a href="" class="nav-item">Home</a>
    </nav>
  </body>
</html>
