<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/about.css" />
    <title>JPong - About Me</title>
  </head>
  <body>
    <div id="container">
      <header>
        <a href="" class="logo"><strong>JPong</strong></a>
        <nav class="navbar">
          <a href="/index.html" class="nav-item">Home</a>
          <a href="/views/aboutme.html" class="nav-item">About Me</a>
          
        </nav>
      </header>
      <main>
        <div class="aboutme">
          <h1>ABOUT ME</h1>
          <p>
            A starter Full Stack Developer and UI/UX Designer. I am adventurous,
            love learning new things and I enjoy travelling. When I started
            learning Web Designing and Coding, It is so interesting to create
            new things out of my idea but at first I have a hard time to
            understand codes but thanks to google and people for helping me out
            haha!.
          </p>
        </div>
        <div class="skills">
          <h1>SKILLS</h1>
          <img src="../images/logo.png" alt="" />
        </div>
        <div class="workexperience">
          <h1>WORK EXPERIENCE</h1>
          <div class="rcbc">
            <img src="../images/rcbc.png" alt="" />

            <h6>RIZAL COMMERCIAL BANKING CORPORATION</h6>
            <p>
              Customer Reserve Officer/Assistant
            </p>
            <p>
              NorthWest Luzon 5
            </p>
            <p>
              November 2, 2015 - April 12, 2019
            </p>
          </div>
          <div class="duties">
            <ul>
              <li>
                ➠Act as a competent reliever to the Business Centers’ Senior
                Operations Officer, Branch Operations Officer, Customer
                Relationship Officer and Tellering. All functions of the
                position being relieved must be fully assumed by the relieve.
              </li>
              <li>
                ➠ Receives, process, approved selected transactions (loans,
                remittance, trust, etc) as indicated in operational policies.
              </li>
              <li>
                ➠ As Senior Operations Officer/ Branch Operations Officer/
                Customer Relationship Officer, signs/co-signs on other
                negotiable instruments, cashiering documents and reports up to
                limits set per schedule authorities as need arises.
              </li>
              <li>
                ➠ Co-approves with the Business Manager and other Business
                Center Officers on the business center transactions up to
                authorized limits.
              </li>
              <li>
                ➠ Attends to customer queries (i.e account opening, product
                features, minimum balance requirement, pricing, service charges,
                balance inquiries).
              </li>
              <li>
                ➠Assists in the inventory of the accountable forms and the
                counting of cash vault in the vault. Provides dual control on
                all cash transactions including vault management and ATM cash
                transactions.
              </li>
              <li>
                ➠Acts as trader for all treasury and trust placements from
                queries, documentation and booking. Informs the client
                interest/coupon credits, as need arises.
              </li>
              <li>
                ➠ Ensures that all Business Centers associates are kept updated
                of policy changes, new or enhanced procedures, system
                enhancements and new functionalities implemented/issued during
                his/her assignment.
              </li>
              <li>
                ➠ Assists in the meetings (if necessary) to apprise all BC
                associates on the new policies, procedures and new products.
              </li>
              <li>
                ➠ Assists the Business Officers in ensuring service audit rating
                is at least “acceptable” Ensures compliance with KYC/AMLA
                Guidelines.
              </li>
              <li>
                ➠ As may be required by the District Service Manager, assists
                the district in implementing sales activities initiated by the
                district or branches.
              </li>
              <li>
                ➠ Accepts and carries out assignments given by the District
                Service Manager (without preferences on areas of BC deployment).
              </li>
            </ul>
          </div>

          <div class="education">
            <h1>EDUCATION</h1>
            <img src="../images/slu.png" alt="" />

            <h5>Saint Louis University</h5>
            <p>Year 2015</p>

            <p>Baguio City, Benguet, Philippines 2600</p>

            <p>Bachelor of Science in Business Administration</p>
            <p>major in Financial Managament</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
